.header__nav {
  padding-top: 40px;
  display: flex;
  z-index: 3;
  height: 100px;
  width: 100%;
  position: fixed;
}

.header__container__nav {
  width: 1240px; /* ширина*/
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.btn {
  font-size: 18px;
  margin-left: auto;

  padding: 13px 20px;
  border-radius: 10px;
  border: 2px #cc9933 solid;
  color: #ffffff;
}

.nav {
  align-items: center;
  display: flex;
  width: 100%;
  font-size: 20px;
  line-height: 1;
  color: #fbfbfb;
}

.nav__list {
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}

.nav-link {
  position: relative;
  cursor: pointer;
  line-height: 1; /*задаём высоту строки*/
  text-decoration: none; /*убираем подчёркивание*/
}
.nav-link:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #ffc700; /*задаём цвет линии*/
  content: '';
  transition: width 0.3s ease-out; /*задаём время анимации*/
}

.nav-link:hover:after,
.nav-link:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.nav-link_menu {
  z-index: 3;
}

/*Бургер*/

.nav__menu {
  display: block;
  position: relative;
  
  left: 50px;

  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.nav__menu a {
  text-decoration: none;
  color: #ffffff;

  transition: color 0.3s ease;
}

.nav__menu a:hover {
  color: #fed500;
}

.nav__menu .nav__checkbox {
  display: block;
  width: 100px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 4; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

.menu {
 
backdrop-filter: blur(10px);
  text-align: center;
  display: none;
  position: absolute;
  width: 300px;
  height: 500px;
  top: -60px;
  left: -120px;
  padding: 50px;
  padding-top: 100px;
  border-radius: 0  0 40px 40px;
  background: #1f1f1f67;
  list-style-type: none;
  border: 1px solid #ffffff13;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

}

.menu li {
  cursor: pointer;
  font-weight: 500;
  margin-top: 25px;
  font-size: 20px;
  color: #ffffff;
}

.menu li:nth-child(6) {
  margin-top: 50px;
}
.menu li:last-child:hover > a {

  color: rgb(255, 116, 116);
}

/*
 * And let's slide it in from the left
 */
.nav__checkbox:checked ~ .menu {
  display: block;
  opacity: 1;
  transform: none;
}

.quit{
  width: 500px;
  height: 200px;
  background: #1f1f1f67;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff70;
}

.quit__container
{
  width: 400px;
  margin: 0 auto;
}
.quit__text{
  font-size: 20px;
}
.quit__buttons-line
{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.quit__button
{
  width: 100px;
  height: 50px;
  border: 1px solid #ffffff70 ;
  border-radius: 20px;
  &:hover{
    background: #81818149;
  }
  &:active{
    background: #c0c0c049;
  }
}