main{
  background: #131313;
  color: white;
}

.main__container{
  width: 1240px;
  margin: 0 auto;
}
.titleOfPage{
  font-size: 42px;
  padding: 10px;
}
.benefits {
  overflow: hidden;

  position: relative;
  padding: 120px 0;

  &::after {
    // content: 'II';
    left: calc(50% + 555px);
    transform: translate(-50%, 0%);
  }
}

.benefits__row {
  display: flex;
  column-gap: 90px;
}

.benefits__item {
  text-align: center;
}

.benefits__item-img {
  margin-bottom: 45px;
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
}


// -----popularCours------


$transition-time: 1.35s;


    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

      column-gap: 20px;
    }
.card {
  position: relative;
  height: 300px;
  width: 95%;
  margin: 10px 0;
  transition: ease all $transition-time;
  perspective: 1100px;

  &:hover {
    .cover {
      transform: rotateX(0deg) rotateY(-180deg);
      &:before {
        transform: translateZ(30px);
      }
      &:after {
        background-color: black;
      }
      h1 {
        transform: translateZ(100px);
      }
      .price {
        transform: translateZ(60px);
      }
      a {
        transform: translateZ(-60px) rotatey(-180deg);
      }
    }
  }

  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all $transition-time;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:before {
      content: '';
      position: absolute;
      border: 5px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      z-index: 2;
      transition: ease all $transition-time;
      transform-style: preserve-3d;
      transform: translateZ(0px);
    }
    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 2;
      transition: ease all 1.3s;
      background: rgba(0, 0, 0, 0.4);
    }
    &.item-a {
      background-image: url('./../../../src/img//home//barber/barber1.png');
    }
    &.item-b {
      background-image: url('../../img/home/barber/barber2.png');
    }
    &.item-c {
      background-image: url('../../img/home/barber/barber3.png');
    }
    &.item-d {
      background-image: url('../../img/home/barber/barber4.png');
    }
    h1 {
      font-weight: 600;
      position: absolute;
      bottom: 55px;
      left: 50px;
      color: white;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      z-index: 3;
      font-size: 3em;
      transform: translateZ(0px);
    }
    .price {
      font-weight: 200;
      position: absolute;
      top: 55px;
      right: 50px;
      color: white;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      z-index: 4;
      font-size: 2em;
      transform: translateZ(0px);
    }
  }
  .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all $transition-time;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      transform-style: preserve-3d;
      transition: ease transform $transition-time, ease background 0.5s;
      transform: translateZ(-1px) rotatey(-180deg);
      background: transparent;
      border: 1px solid white;
      font-weight: 200;
      font-size: 1.3em;
      color: white;
      padding: 14px 32px;
      outline: none;
      text-decoration: none;
      &:hover {
        background-color: white;
        color: #0b0f08;
      }
    }
  }
}

// ----about-----
.aboutUs{
  margin-top: 50px;
}
.aboutUs__container{
position: relative;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . img2 img2"
    "img1 img1 img2 img2"
    "img1 img1 img3 img3"
    "img1 img1 img3 img3";
}

.aboutUs__text-block{
  position: absolute;
  width: 340px;
  height: 310px;
  background: #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-block_1{
  top: 60px;
  left: 280px;
}

.text-block_2{
  top: 300px;
  left: 880px;
}

.text-block_3{
  top: 850px;
  left: 280px;
}
.aboutUs__text-block-title{
  display: block;
}
.aboutUs__text{
  display: block;
}
  .img1 {

    grid-area: img1;
  }

  .img2 {
    grid-area: img2;
  }

  .img3 {
    grid-area: img3;
  }

// WhatsWeCan

.WhatsWeCan
{
  margin-top: 50px;
  height: 600px;
}

.WhatsWeCan__line{
  margin-top: 70px;
  display: flex;
  gap: 5px;
}

.WhatsWeCan__block
{
  width: 310px;
  height: 310px;
  background: #1c1c1c;
  border-radius: 50%;
  display: flex;
  justify-content: center ;
  align-items: center;
}
.WhatsWeCan__innerBlock
{
  background: #000000;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  border: 5px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WhatsWeCan__block-text
{
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  width: 200px;
}
