.courseProgress{
  height: auto;
  padding: 200px 0;
  background: #131313;
}

.courseProgress__container{
  width: 1240px;
  margin: 0 auto;
}
.courseProgress__title{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 60px;
}
.courseProgress__content{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.courseProgress__block
{
  width: 100%;
  height: auto;
  padding: 50px 0;
  background: #000;
  border-radius: 20px;
}
.courseProgress__block-container{
  width: 90%;
  margin: 0 auto;
}
.courseProgress__block-title{
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.courseProgress__lessons{
  font-weight: 600;
  font-size: 26px;
}

.courseProgress__lessons-list
{
margin-top: 30PX;
}
.courseProgress__lessons-list-element{
  
  display: flex;
  padding: 10PX 0;
}

.courseProgress__lessons-list-element-text{
  color: #F0BF5F;
  font-size: 28px;
  font-weight: 700;
}

.courseProgress__lessons-list-element-link{
  color: #FF8B2C;
  font-size: 16px;
  font-weight: 400;
  margin-left: auto;
}