.aboutCourse__header {
  height: 890px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.aboutCourse__header-container {
  height: 90%;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: end;
}
.aboutCourse__courseName {
  font-size: 64px;
  font-weight: bold;
}

.aboutCourse__body {
  padding: 40px;
  height: auto;
  background-color: #131313;
}

.aboutCourse__header-container {
  width: 1240px;
  margin: 0 auto;
}
.aboutCourse__container {
  width: 1240px;
  margin: 0 auto;
}
.aboutCourse__title {
  margin-top: 40px;
  font-size: 42px;
}
.aboutCourse__text-block1 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.aboutCourse__text-block1-image {
  object-fit: cover;
  border-radius: 20px;
  width: 460px;
  height: 660px;
}

.aboutCourse__text-block1-text {
  text-align: right;
  width: 710px;
  font-size: 32px;
}
.aboutCourse__text-block2 {
  margin-top: -250px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.aboutCourse__text-block2-image {
  object-fit: cover;
  border-radius: 20px;
  width: 565px;
  height: 595px;
}

.aboutCourse__text-block2-text {
  text-align: left;
  width:382px;
  font-size: 32px;
}
.aboutCourse__whatYouGet-title{
  margin-top: 40px;
  font-size: 42px;
  font-weight: 400;
}

.aboutCourse__whatYouGet-text{
  margin-top: 10px;
  font-size: 42px;
  font-weight: 200;
}

.aboutCourse__whatPutUp-block{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutCourse__whatPutUp-text{
  width: 670px;
  font-size: 32px;

}

.aboutCourse__whatPutUp-img{
  border-radius: 20px;
  width: 400px;
  height: 560px;
  object-fit: cover;
}

.aboutCourse__regButton{
  user-select: none;
  cursor: pointer;
  margin-top: 40px;
  width: 400px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: #ffc700;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}