.courses {
  padding: 20px 0;
  background: #131313;
  height: auto;
}

.courses__container {
  width: 1240px;
  margin: 0 auto;
  margin-top: 200px;
}
.courses__line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
