.tests__container{
  width: 100%;
  min-height: 100vh;
  background-color: #131313;
  padding: 200px 400px 0 400px;
  box-sizing: border-box;
}

.test__header h2{
  font-size: 36px;
  font-weight: 800;
}

.test__header form{
  display: flex;
  align-items: center;
  gap: 50px;
}

.test__header button,
.test__header__search{
  border: 2px solid #cc9933;
  padding: 10px;
  border-radius: 10px
}

.test__main{
  margin-top: 50px;
}

.test__box{
  background-color: #926a19;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.test__box h3{
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.test__box a{
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

