.aboutCourse__header {
  height: 890px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.aboutCourse__header-container {
  height: 90%;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: end;
}
.aboutCourse__courseName {
  font-size: 64px;
  font-weight: bold;
}

.aboutCourse__body {
  padding: 1px;
  height: 2000px;
}

.aboutCourse__header-container {
  width: 1240px;
  margin: 0 auto;
}
.aboutCourse__container {
  width: 1240px;
  margin: 0 auto;
}
.aboutCourse__title {
  margin-top: 20px;
  font-size: 42px;
}
.aboutCourse__text-block1 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.aboutCourse__text-block1-image {
  border-radius: 20px;
}

.aboutCourse__text-block1-text {
  text-align: right;
  width: 710px;
  font-size: 32px;
}
.aboutCourse__text-block2 {
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.aboutCourse__text-block2-image {
  border-radius: 20px;
}

.aboutCourse__text-block2-text {
  text-align: left;
  width: 710px;
  font-size: 32px;
}
