.header__nav {
  padding-top: 40px ;
  display: flex;
  z-index: 3;
  height: 100px;
  width: 100%;
  position: fixed;
}

.header__container__nav {

  width: 1140px; /* ширина*/
  display: flex;
  align-items: center;
  margin: 0 auto;
}


.btn {
  font-size: 18px;
  margin-left: auto;

  padding: 13px 20px;
  border-radius: 10px;
  border: 2px #cc9933 solid;
  color: #ffffff;
}


.nav {
  display: flex;
 width: 100%;
  font-size: 20px;
  line-height: 1;
  color: #fbfbfb;
}

.nav__list{
  margin-left: auto;
  display: flex;
  gap: 30px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
}

.nav-link {
  position: relative;
  cursor: pointer;
  line-height: 1; /*задаём высоту строки*/
  text-decoration: none; /*убираем подчёркивание*/
}
.nav-link:after {
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 2px; /*задаём ширину линии*/
  background-color: #ffc700; /*задаём цвет линии*/
  content: '';
  transition: width 0.3s ease-out; /*задаём время анимации*/
}

.nav-link:hover:after,
.nav-link:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}


